In [24]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('datasets/student-mat.csv')

df.drop(['school','address','famsize','Mjob','Fjob','reason','guardian','nursery','health','traveltime','romantic','higher','schoolsup','famsup','famrel','Dalc','G1', 'G2'],axis=1,inplace=True)

In [21]:
df.columns

Index(['school', 'sex', 'age', 'Pstatus', 'Medu', 'Fedu', 'studytime',
       'failures', 'paid', 'activities', 'internet', 'freetime', 'goout',
       'Walc', 'absences', 'G3'],
      dtype='object')

In [20]:
df.head

<bound method NDFrame.head of     school sex  age Pstatus  Medu  Fedu  studytime  failures paid activities  \
0       GP   F   18       A     4     4          2         0   no         no
1       GP   F   17       T     1     1          2         0   no         no
2       GP   F   15       T     1     1          2         3  yes         no
3       GP   F   15       T     4     2          3         0  yes        yes
4       GP   F   16       T     3     3          2         0  yes         no
..     ...  ..  ...     ...   ...   ...        ...       ...  ...        ...
390     MS   M   20       A     2     2          2         2  yes         no
391     MS   M   17       T     3     1          1         0   no         no
392     MS   M   21       T     1     1          1         3   no         no
393     MS   M   18       T     3     2          1         0   no         no
394     MS   M   19       T     1     1          1         0   no         no

    internet  freetime  goout  Walc  absences  G3
0         no         3      4     1         6   6
1        yes         3      3     1         4   6
2        yes         3      2     3        10  10
3        yes         2      2     1         2  15
4         no         3      2     2         4  10
..       ...       ...    ...   ...       ...  ..
390       no         5      4     5        11   9
391      yes         4      5     4         3  16
392       no         5      3     3         3   7
393      yes         4      1     4         0  10
394      yes         2      3     3         5   9

[395 rows x 16 columns]>

In [22]:
df.isna().any()

school        False
sex           False
age           False
Pstatus       False
Medu          False
Fedu          False
studytime     False
failures      False
paid          False
activities    False
internet      False
freetime      False
goout         False
Walc          False
absences      False
G3            False
dtype: bool